<h4>
    <img width="31" height="30" alt="" src="img/heading-icon_blog.png">
    Welcome to the Blog
</h4>

<a href="{{firstPost.link}}">
    <img width="240" height="108" alt="" src="img/home_blog.jpg">
</a>

<h5 class="not-italic sans-serif"><a href="{{firstPost.link}}">{{firstPost.title}}</a></h5>

<p class="uppercase">By <span class="bold">{{firstPost.username}}</span></p>

<ul class="rfaq">
    {{#otherPosts}}
            <li><a href="{{this.link}}">{{this.title}}</a>  <img src="img/icons/ctaLink_arrow.png"></li>
    {{/otherPosts}}
</ul>

<a class="ctaLink" href="https://community.homeownersupport.com/community/forums?view=blog">
    More
</a>