			<div id="ticker-wrapper" class="no-js">
                <ul id="js-news">
                    <li class="news-item"><a href="#!/national-settlement-information">National Mortgage Settlement Information</a></li>
                </ul>
            </div>
		<div class="marquees">
			<div class="marquee" id="marquee_00">
				<h2>Know where you stand.</h2>
				<div class="marquee_content">
                	If you're having trouble paying your mortgage, Homeowner Support can help you research and understand your options. <a class="marquee_overlayCTA" href="#">Learn More <img class="y_arrows" src="img/y_arrows.gif"/></a>
                </div>
				<div class="marquee_overlay">
					<img src="img/icons/marquee_overlay_close.png" width="33" height="33" alt="" />
					<h2>What is Homeowner Support?</h2>
					<div class="marquee_content">
						<p class="intro">
							Homeowner Support provides answers to a very common question: What can I do if I'm having trouble paying my mortgage? There are options, and the sooner you take action the better. This site will help you:
						</p>
						<h5>
							Educate yourself on some of your options
						</h5>
						<p>
							Learn about some of the common mortgage options available to homeowners.
						</p>
						<h5>
							Get advice from fellow homeowners
						</h5>
						<p>
							You're not alone. Join the forums to ask questions and learn from homeowners who know what you're going through. If you've been struggling with your mortgage, share your story, answer questions and help others learn from your experience. You can also follow the latest in mortgage topics and advice in the Homeowner Support Blog. 
						</p>
						<h5 class="highlight">
							Explore some of your options below
						</h5>
					</div>
					<div class="angle"></div>
				</div>
			</div>
			<div class="marquee" id="marquee_01">
            	<h2>You've got options.</h2>
				<div class="marquee_content">
                	<p class="intro">
                    	Here are some options that may work for your situation. Your mortgage company can help determine exactly what you're eligible for.
                    </p>
                    <div class="marquee_divider">
                        <a class="expandableLink" href="#">Home Affordable Unemployment Program (UP)</a>
                        
                        <p class="expandableContent">
                            An option for unemployed homeowners that can temporarily reduce or suspend their mortgage payments. <a class="ctaLink" href="#!/home-affordable-unemployment-program/worried">More</a>
                        </p>                        
                        
                        <a class="expandableLink" href="#">Traditional Refinance</a>
                        <p class="expandableContent">
                            Switching to a lower or fixed interest rate can make your mortgage more affordable. <a class="ctaLink" href="#!/refinance-a-mortgage-traditional-refinance/worried">More</a>
                        </p>
                        <a class="expandableLink" href="#">Home Affordable Refinance Program (HARP)</a>
                        <p class="expandableContent">
                            A possible option if the value of your home has dropped and your mortgage is owned by Fannie Mae or Freddie Mac. <a class="ctaLink" href="#!/home-affordable-refinance-program-harp/worried">More</a>
                        </p>
                        <a class="expandableLink" href="#">Deferment and Forbearance</a>
                        <p class="expandableContent">
                            May lower your mortgage payments so you can get back on your feet during a temporary financial hardship. <a class="ctaLink" href="#!/help-with-mortgage-deferment-forbearance/worried">More</a>
                        </p>
                    </div>
                    <a class="expandableLink" href="#">Contact your mortgage company</a>
                    <p>
                    	The sooner you reach out, the better.
                    </p>
                   
                    <div class="expandableContent">
                    
                        <div class="marquee_2col_left border-reset">
                            <h5>
                            	For CitiMortgage Customers
                            </h5>
                            
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <h5>
                            	Not a CitiMortgage Customer?
                            </h5>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                        <div class="marquee_2col_left">
                           
                            <p>
                            	Get directly in touch with a CitiMortgage Homeowner Support specialist:
                            </p>
                            
                            <ul>
                                <li>
                                	<p class="color-reset">Call 1-866-751-6911<br />
                                    Monday-Friday 8am-Midnight ET<br />
                                    Saturday and Sunday 8am-8pm ET</p>
                                </li>
        
                                <li class="margin-bottom-reset">
                                	<p class="color-reset">Email <a href="mailto:homeownersupport@citi.com">homeownersupport@citi.com</a></p>
                                    
                                    <p class="color-reset margin-bottom-reset">Someone will call or email you back within 24 hours. Please include your property address, the best phone number and time to call, and a brief description of your situation.</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <p>
                            	You can find your mortgage company's contact information on your statement, coupon book or on their website.
                            <p>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                    </div>

                    
                </div>
				<div class="angle"></div>
            </div>
			<div class="marquee" id="marquee_02">
            	<h2>You've got options.</h2>
				<div class="marquee_content">
                	<p class="intro">
                    	Here are some options that may work for your situation. Your mortgage company can help determine exactly what you're eligible for.
                    </p>
                    
                    <div class="marquee_divider">

                        <a class="expandableLink" href="#">Home Affordable Unemployment Program (UP)</a>
                        
                        <p class="expandableContent">
                            An option for unemployed homeowners that can temporarily reduce or suspend their mortgage payments. <a class="ctaLink" href="#!/home-affordable-unemployment-program/missed-one">More</a>
                        </p>
                    
                        <a class="expandableLink" href="#">Repayment Plan</a>
                        
                        <p class="expandableContent">
                            Can help you catch up on mortgage payments if you fell behind because of a temporary financial hardship. <a class="ctaLink" href="#!/mortgage-help-with-repayment-plans/missed-one">More</a>
                        </p>
                        
                        <a class="expandableLink" href="#">Deferment and Forbearance</a>
                        
                        <p class="expandableContent">
                            May lower your mortgage payments so you can get back on your feet during a temporary financial hardship. <a class="ctaLink" href="#!/help-with-mortgage-deferment-forbearance/missed-one">More</a>
                        </p>
    
                        <a class="expandableLink" href="#">Extension</a>
                        
                        <p class="expandableContent">
                            Adds missed mortgage payments onto the end of your mortgage term and brings your account up to date. <a class="ctaLink" href="#!/avoid-foreclosure-with-mortgage-extension/missed-one">More</a>
                        </p>
    
                        <a class="expandableLink" href="#">Home Affordable Modification Program (HAMP)</a>
                        
                        <p class="expandableContent">
                            A government program that can help you modify your existing mortgage if you're facing financial hardship. <a class="ctaLink" href="#!/home-affordable-modification-program-hamp/missed-one">More</a>
                        </p>
                        
                        <a class="expandableLink" href="#">Short Sale Through Your Mortgage Company</a>
                        
                        <p class="expandableContent">
                            A good option if you're open to the idea of selling your home but it's worth less than what you owe on your mortgage. <a class="ctaLink" href="#!/stop-foreclosure-with-short-sale/missed-one">More</a>
                        </p>
					
                    </div>
                    
                    <a class="expandableLink" href="#">Contact your mortgage company</a>
                    <p>
                    	The sooner you reach out, the better.
                    </p>
                   
                    <div class="expandableContent">
                    
                        <div class="marquee_2col_left border-reset">
                            <h5>
                            	For CitiMortgage Customers
                            </h5>
                            
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <h5>
                            	Not a CitiMortgage Customer?
                            </h5>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                        <div class="marquee_2col_left">
                           
                            <p>
                            	Get directly in touch with a CitiMortgage Homeowner Support specialist:
                            </p>
                            
                            <ul>
                                <li>
                                	<p class="color-reset">Call 1-866-751-6911<br />
                                    Monday-Friday 8am-Midnight ET<br />
                                    Saturday and Sunday 8am-8pm ET</p>
                                </li>
        
                                <li class="margin-bottom-reset">
                                	<p class="color-reset">Email <a href="mailto:homeownersupport@citi.com">homeownersupport@citi.com</a></p>
                                    
                                    <p class="color-reset margin-bottom-reset">Someone will call or email you back within 24 hours. Please include your property address, the best phone number and time to call, and a brief description of your situation.</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <p>
                            	You can find your mortgage company's contact information on your statement, coupon book or on their website.
                            <p>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                    </div>

                    
                </div>

				<div class="angle"></div>
            </div>
			<div class="marquee" id="marquee_03">
            	<h2>You've got options.</h2>
				<div class="marquee_content">
                	<p class="intro">
                    	Here are some options that may work for your situation. Your mortgage company can help determine exactly what you're eligible for.
                    </p>
                    
                    <div class="marquee_divider">
                    
                        <a class="expandableLink" href="#">Home Affordable Unemployment Program (UP)</a>
                        
                        <p class="expandableContent">
                            An option for unemployed homeowners that can temporarily reduce or suspend their mortgage payments. <a class="ctaLink" href="#!/home-affordable-unemployment-program/three-or-more">More</a>
                        </p>                    
                    
                        <a class="expandableLink" href="#">Home Affordable Modification Program (HAMP)</a>
                        
                        <p class="expandableContent">
                            A government program that can help you modify your existing mortgage if you're facing financial hardship. <a class="ctaLink" href="#!/home-affordable-modification-program-hamp/three-or-more">More</a>
                        </p>
                        
                        <a class="expandableLink" href="#">Short Sale Through Your Mortgage Company</a>
                        
                        <p class="expandableContent">
                            A good option if you're open to the idea of selling your home but it's worth less than what you owe on your mortgage. <a class="ctaLink" href="#!/stop-foreclosure-with-short-sale/three-or-more">More</a>
                        </p>
    
                        <a class="expandableLink" href="#">Modifying Your Loan Through Your Mortgage Company</a>
                        
                        <p class="expandableContent">
                            If a long-term hardship is preventing you from paying your mortgage, this option may make your payments more affordable. <a class="ctaLink" href="#!/mortgage-financing-traditional-loan-modification/three-or-more">More</a>
                        </p>
    
                        <a class="expandableLink" href="#">Repayment Plan</a>
                        
                        <p class="expandableContent">
                            Can help you catch up on mortgage payments if you fell behind because of a temporary financial hardship. <a class="ctaLink" href="#!/mortgage-help-with-repayment-plans/three-or-more">More</a>
                        </p>
                        
                        <a class="expandableLink" href="#">Deed in Lieu</a>
                        
                        <p class="expandableContent">
                            Worth looking into if you're willing to leave your home and other options such as a modification or a short sale haven't worked out for you. <a class="ctaLink" href="#!/deed-in-lieu/missed-one">More</a>
                        </p>                        
					
                    </div>
                    
                    <a class="expandableLink" href="#">Contact your mortgage company</a>
                    <p>
                    	The sooner you reach out, the better.
                    </p>
                   
                    <div class="expandableContent">
                    
                        <div class="marquee_2col_left border-reset">
                            <h5>
                            	For CitiMortgage Customers
                            </h5>
                            
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <h5>
                            	Not a CitiMortgage Customer?
                            </h5>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                        <div class="marquee_2col_left">
                           
                            <p>
                            	Get directly in touch with a CitiMortgage Homeowner Support specialist:
                            </p>
                            
                            <ul>
                                <li>
                                	<p class="color-reset">Call 1-866-751-6911<br />
                                    Monday-Friday 8am-Midnight ET<br />
                                    Saturday and Sunday 8am-8pm ET</p>
                                </li>
        
                                <li class="margin-bottom-reset">
                                	<p class="color-reset">Email <a href="mailto:homeownersupport@citi.com">homeownersupport@citi.com</a></p>
                                    
                                    <p class="color-reset margin-bottom-reset">Someone will call or email you back within 24 hours. Please include your property address, the best phone number and time to call, and a brief description of your situation.</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <p>
                            	You can find your mortgage company's contact information on your statement, coupon book or on their website.
                            <p>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                    </div>

                    
                </div>

				<div class="angle"></div>
            </div>
			<div class="marquee" id="marquee_04">
            	<h2>You've got options.</h2>
				<div class="marquee_content">
                	<p class="intro">
                    	Here are some options that may work for your situation. Your mortgage company can help determine exactly what you're eligible for.
                    </p>
                    
                    <div class="marquee_divider">
                    

                        <a class="expandableLink" href="#">Home Affordable Modification Program (HAMP)</a>
                        
                        <p class="expandableContent">
                            A government program that can help you modify your existing mortgage if you're facing financial hardship. <a class="ctaLink" href="#!/home-affordable-modification-program-hamp/foreclosure">More</a>
                        </p>
    
                        <a class="expandableLink" href="#">Modifying Your Loan Through Your Mortgage Company</a>
                        
                        <p class="expandableContent">
                            If a long-term hardship is preventing you from paying your mortgage, this option may make your payments more affordable. <a class="ctaLink" href="#!/mortgage-financing-traditional-loan-modification/foreclosure">More</a>
                        </p>
					   
                       <a class="expandableLink" href="#">Short Sale Through Your Mortgage Company</a>
                        
                        <p class="expandableContent">
                            A good option if you're open to the idea of selling your home but it's worth less than what you owe on your mortgage. <a class="ctaLink" href="#!/stop-foreclosure-with-short-sale/foreclosure">More</a>
                        </p>
                        
                    </div>
                    
                    <a class="expandableLink" href="#">Contact your mortgage company</a>
                    <p>
                    	The sooner you reach out, the better.
                    </p>
                   
                    <div class="expandableContent">
                    
                        <div class="marquee_2col_left border-reset">
                            <h5>
                            	For CitiMortgage Customers
                            </h5>
                            
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <h5>
                            	Not a CitiMortgage Customer?
                            </h5>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                        <div class="marquee_2col_left">
                           
                            <p>
                            	Get directly in touch with a CitiMortgage Homeowner Support specialist:
                            </p>
                            
                            <ul>
                                <li>
                                	<p class="color-reset">Call 1-866-751-6911<br />
                                    Monday-Friday 8am-Midnight ET<br />
                                    Saturday and Sunday 8am-8pm ET</p>
                                </li>
        
                                <li class="margin-bottom-reset">
                                	<p class="color-reset">Email <a href="mailto:homeownersupport@citi.com">homeownersupport@citi.com</a></p>
                                    
                                    <p class="color-reset margin-bottom-reset">Someone will call or email you back within 24 hours. Please include your property address, the best phone number and time to call, and a brief description of your situation.</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="marquee_2col_right">
                        
                            <p>
                            	You can find your mortgage company's contact information on your statement, coupon book or on their website.
                            <p>
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                        
                    </div>

                    
                </div>

				<div class="angle"></div>
            </div>
			<div class="marquee" id="marquee_05">
            	<h2>You've got options.</h2>
				<div class="marquee_content">
                	
                     <h5>
                     	You may be eligible for an independent foreclosure review.
                     </h5>
                     
                     <p>
                     	"Servicers, regulators and independent consultants have created a process that will assess whether a borrower incurred financial injury due to servicer errors, misrepresentations, or other deficiencies in the foreclosure process."
                     </p>
                     
                     <p>
                     	<a href="#!/press">Read the press release  <img class="y_arrows" src="img/y_arrows.gif"/></a>
                     </p>

				
            	</div>
                
                <div class="angle"></div>
		</div>
	</div>
	<div class="slider_wrapper">
		<div id="slider_tooltip_01">
			Start here. How are you doing with your mortgage?
	    </div>
		<div id="slider_tooltip_02" style="display: none;">
			If none of these situations apply to you, you can browse mortgage options through the navigation bar at the top of the screen.
	    </div>
		<div class="slider"></div>
	</div>
            <div class="column_wrapper">
                <div id="feedContainer_blog" class="content_3col">
                    
                </div>
                <div id="feedContainer_popular" class="content_3col">
                    
                </div>
                <div class="content_3col">
                    <h4>
                        <img src="img/heading-icon_help.png" width="34" height="29" alt="" />
                        Need Help?
                    </h4>
                    <div class="content_3col_divider">
                         <a class="expandableLink" href="#">Contact your mortgage company</a>
                        <p>
                            Getting in touch is the key to getting help.
                        </p>
                        <div class="expandableContent">
                                <h5>
                                    For CitiMortgage customers
                                </h5>
                                <p>
                                    Get directly in touch with a CitiMortgage Homeowner Support specialist:
                                </p>
                                <ul>
                                <li>
                                	<span class="color-reset">Call 1-866-751-6911<br />
                                    Monday-Friday 8am-Midnight ET<br />
                                    Saturday and Sunday 8am-8pm ET</span>
                                </li>
                                <li class="margin-bottom-reset">
                                	<p class="color-reset">Email <a href="mailto:homeownersupport@citi.com">homeownersupport@citi.com</a></p>
                                    <p class="color-reset">Someone will call or email you back within 24 hours. Please include your property address, the best phone number and time to call, and a brief description of your situation.</p>
                                </li>
                            </ul>
                                <h5>
                                    Not a CitiMortgage customer?
                                </h5>
                                <p>
                                    You can find your mortgage company's contact information on your statement, coupon book or on their website.
                                <p>
                            </div>
                    </div>
                    <div class="content_3col_divider">
                        <h5>
                            Talk to a mortgage counselor
                        </h5>
                        <p>
                            Get free guidance and advice from a mortgage counseling expert.
                        </p>
                        <a href="http://www.hud.gov/offices/hsg/sfh/hcc/hcs.cfm" class="ctaLink speedBump_link">
                            Find a counselor
                        </a>
                    </div>
                    <div class="content_3col_divider border-reset margin-bottom-reset">
                        <h5>
                            A word from Citi
                        </h5>
                        <p>
                            Hear from Sanjiv Das, CEO of CitiMortgage.
                        </p>
                        <a href="#!/word" class="ctaLink">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>