div.account {
	
	margin-top: -40px
}

div.account div.dropdown {
	
	box-shadow: none;
	behavior: none;
}

div.account div.dropdown a {
	
	width: 200px;
}

#marquee_00 h2 {
	
	display: inline;
}

#speedBump_close {
	
	float: none;
	margin-left: 100px;
}

#speedBump_continue, #speedBump_return {

	border-radius: none;
	box-shadow: none;
	behavior: none;
}

#speedBump_return {

	border: 1px solid #c1c1c1;	
}

.ticker-title, .ticker-content, .ticker-content a{
	zoom: 1;
	height: 0;
	display:inline-block;
}

.ticker-content{
	
	margin-left: 100px; 
}

#marquee_00 h2 {
	
  display: inline-block;
}

.content_3col {

	margin-right: 13px;
}

.clear {

	zoom: 1;
	height: 0;	
}