    <div class="hero-unit">
          <h1>About BackStrapp <small>How it all came to be</small></h1>
          <p>BackStrapp was developed with apps in mind. Jolly Science has built and deployed 2 sites using this framework, and are currently developing several more. The framework has served as an incredible boost to productivity, collaboration, and capability. We think you'll like it too!</p>
          <a class="btn primary large" href="https://github.com/jollyscience/backstrapp">Download Now!</a>
	</div>
	<div class="row">
		<div class="span10">
			<h3>Installation</h3>
			<ol>
				<li>
					<h4>Get The Code</h4>
					<p>Click to download the code from gitHub, or run the following in your terminal from your dev folder.</p>
					<pre>$ git clone git://github.com/jollyscience/backstrapp.git backstrapp</pre>
				</li>
				<li>
					<h4>Run the Site</h4>
					<div class="alert-message block-message info">BackStrapp uses jQuery's getJSON() and get() methods, which require a webserver to run. If you're on a mac, we highly recommend <a href="http://www.mamp.info/en/index.html">MAMP PRO</a>.</p></div>
				</li>
				<li>
					<h4>Configure r.js as Git Hook (optional)</h4>
					<div class="alert-message block-message info">Running r.js requires nodeJS to be configured on your local machine.</div>
					<p>Configure your app by editing the file at: <pre>your_backstrapp_dev_dir/_src/js/app.build.json</pre></p>
					<p>For more details <a href="https://github.com/jrburke/r.js/">checkout r.js on github.</a></p>
				</li>
			</ol>
		</div>
        <div class="span6">
          <h3>Dependencies</h3>
          <dl>
          	<dt><a href="http://www.jquery.com">jQuery</a></dt>
          	<dd>a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development.</dd>
          	<dt><a href="http://documentcloud.github.com/underscore/">UnderscoreJS</a></dt>
          	<dd>a utility-belt library for JavaScript that provides a lot of the functional programming support that you would expect in Prototype.js (or Ruby), but without extending any of the built-in JavaScript objects.</dd>
          	<dt><a href="http://documentcloud.github.com/backbone/">BackboneJS</a></dt>
          	<dd>supplies structure to JavaScript-heavy applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing application over a RESTful JSON interface.</dd>
          	<dt><a href="http://www.handlebarsjs.com/">HandlebarsJS</a></dt>
          	<dd>provides the power necessary to let you build semantic templates effectively with no frustration.</dd>
          	<dt><a href="http://requirejs.org/">RequireJS</a></dt>
          	<dd>a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</dd>
          	<dt><a href="https://github.com/jrburke/r.js">r.js</a></dt>
          	<dd>Runs RequireJS in Node and Rhino, and used to run the RequireJS optimizer </dd>
          	<dt><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></dt>
          	<dd>a toolkit from Twitter designed to kickstart development of webapps and sites.
It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</dd>
          </dl>
        </div>
	</div>
	<div class="row">
		<div class="span8">
			<h3>Usage & Tests</h3>
			<dl>
				<dt><h4>Editing Content</h4></dt>
				<dd></dd>
				<dt><h4>Changing Routes</h4></dt>
				<dd></dd>
				<dt><h4>Changing Animation</h4></dt>
				<dd></dd>
				<dt><h4>Adding a Hidden Page</h4></dt>
				<dd></dd>
				<dt><h4>Adding a jQuery Plugin</h4></dt>
				<dd></dd>
				<dt><h4>Adding a New Module</h4></dt>
				<dd></dd>
			</dl>
		</div>
        <div class="span5">
          <h3>Inspiration</h3>
          <p>This is an attempt to build a bootstrap for Backbonejs, requirejs, AMD, and r.js, leveraging the architecture provided by Thomas Davis at backbonetutorials.com</p>
          <dl>
          	<dt><a href="http://backbonetutorials.com/organizing-backbone-using-modules/">Backbone Tutorials</a></dt>
          	<dd>As single page apps and large scale javascript applications become more prominent on the web, useful resources for those developers who are jumping the ship are crucial.</dd>
          	<dt><a href="http://lostechies.com/">LosTechies</a></dt>
          	<dd>a public forum where technical ideas and thoughts can be shared in the same way we all get together around a good meal and drinks. Ideas and thoughts are cultivated in discussion, and brought to fruition through professional debate and laughter.</dd>
          	<dt><a href="http://cakephp.org/">CakePHP</a></dt>
          	<dd>a rapid development framework for PHP that provides an extensible architecture for developing, maintaining, and deploying applications.</dd>
          </dl>
        </div>
        <div class="span3">
          <h3>Collaborators</h3>
			<dl>
				<dt>Meshach Jackson</dt>
				<dd><a href="http://linkedin.com/in/meshachjackson">LinkedIn</a>, <a href="https://github.com/meshachjackson">GitHub</a></dd>
				<dt>Sam Bernard</dt>
				<dd><a href="http://www.linkedin.com/in/sambenard">LinkedIn</a>, <a href="https://github.com/shihab-alain">GitHub</a></dd>
			</dl>
       </div>
      </div>