    <div class="hero-unit">
          <h3>About Backstrapp <small>How it all came to be</small></h3>
          <p>Backstrapp was developed with apps in mind. Jolly Science has built and deployed 2 sites using this framework, and are currently developing several more. The framework has served as an incredible boost to productivity, collaboration, and capability. We think you'll like it too!</p>
          <a class="btn primary large" href="https://github.com/jollyscience/backstrapp">Download Now!</a>
	</div>
	<div class="row">
		<div class="span9">
			<h3>Installation</h3>
			<ol>
				<li>
					<h4>Get The Code</h4>
					<p>Click to download the code from gitHub, or run the following in your terminal from your dev folder.
						<pre>
							git clone git://github.com/jollyscience/backstrapp.git backstrapp
						</pre>
					</p>
				</li>
				<li>
					<h4>Run the Site</h4>
					<p>NOTE: Backstrapp uses jQuery's getJSON() and get() methods, which require a webserver to run. If you're on a mac, we highly recommend MAMP PRO.</p>
				</li>
				<li>
					<h4>Configure r.js as Git Hook (optional)</h4>
					<p></p>
				</li>
			</ol>
			<h3>Usage & Tests</h3>
			<dl>
				<dt>Editing Content</dt>
				<dd></dd>
				<dt>Changing Routes</dt>
				<dd></dd>
				<dt>Changing Animation</dt>
				<dd></dd>
				<dt>Adding a Hidden Page</dt>
				<dd></dd>
				<dt>Adding a jQuery Plugin</dt>
				<dd></dd>
				<dt>Adding a New Module</dt>
				<dd></dd>
			</dl>
		</div>
		<div class="span7">
			<h3>Features</h3>
			<dl>
				<dt>Global Event Tracking</dt>
				<dd><p>Using an 'outside-in' philosophy, all classes communicate with a global event model. (Thanks to <a href="http://lostechies.com/derickbailey/2011/08/28/dont-execute-a-backbone-js-route-handler-from-your-code/">Derick Bailey at LosTechies for the tip!</a>)</p></dd>
				<dt>Global Data Model</dt>
				<dd><p>With the future feature of an external database in mind (MongoDB or CouchDB), we designed Backstrapp with a global data model, which updates dynamically and is accessible to all Classes. This, combined with the global event model, makes for clean, easy-to-trace code, and allows for complex, asynchronous interactions.</p></dd>
				<dt>JSON Data Structure</dt>
				<dd><p>We use an external JSON file to control the default pages of the site, and populate a nav bar. It's simple, intuitive, and ideal for quick projects which still need small amounts of dynamic content.</p></dd>
				<dt>Dynamic Content</dt>
				<dd><p>Though static content could be put inline to aid in non-obtrusiveness for the site, Backstrapp ships with the default setting of loading all pages dynamically, based on the url.</p></dd>
				<dt>Easy-to-Manage HTML Content</dt>
				<dd><p>To make things really easy for small teams of front end developers, Backstrapp's architecture allows for all content pages to be flat HTML files, only containing the body content to be used. These mush be well-formed, but don't have to validate, since they're just being loaded into a container div.</p></dd>
				<dt>Intuitive Debugging</dt>
				<dd><p>We like Console. If for no other reason, but to keep Alert() boxes out of our face. So we leveraged <a href="http://benalman.com/projects/javascript-debug-console-log/">Ben Alman's debug script</a> to handle compatibility issues (aghem, I.E.).</p></dd>
				<dt>Plugin-Ready Architecture</dt>
				<dd><p>The architecture used allows for a page type of 'app', which connects a url route to a 'module' in Backstrapp. To see this in action, take a look at the 'Test' module that comes with this build.</p></dd>
				<dt>Page Load Animations</dt>
				<dd><p>All pages loop through AppView.render(), which uses a simple jQuery animation method to change out page content. It's easy to edit, and fun to try!</p></dd>
				<dt>Continuous Integration (sorta)</dt>
				<dd><p>Backstrapp comes equipped with a pre-commit git hook, which runs the r.js compiler. This makes for quick and easy deployment of a single JS file, while maintaining a clean working environment with multiple MVC-ish files for your app.</p></dd>
			</dl>
		</div>
	</div>
	<div class="row">
        <div class="span6">
          <h3>Inspiration</h3>
          <p>This is an attempt to build a bootstrap for Backbonejs, requirejs, AMD, and r.js, leveraging the architecture provided by Thomas Davis at backbonetutorials.com</p>
          <dl>
          	<dt><a href="http://backbonetutorials.com/organizing-backbone-using-modules/">Backbone Tutorials</a></dt>
          	<dd>As single page apps and large scale javascript applications become more prominent on the web, useful resources for those developers who are jumping the ship are crucial.</dd>
          	<dt><a href="http://lostechies.com/">LosTechies</a></dt>
          	<dd>a public forum where technical ideas and thoughts can be shared in the same way we all get together around a good meal and drinks. Ideas and thoughts are cultivated in discussion, and brought to fruition through professional debate and laughter.</dd>
          	<dt><a href="http://cakephp.org/">CakePHP</a></dt>
          	<dd>a rapid development framework for PHP that provides an extensible architecture for developing, maintaining, and deploying applications.</dd>
          </dl>
        </div>
        <div class="span7">
          <h3>Dependencies</h3>
          <dl>
          	<dt><a href="http://www.jquery.com">jQuery</a></dt>
          	<dd>a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development.</dd>
          	<dt><a href="http://documentcloud.github.com/underscore/">UnderscoreJS</a></dt>
          	<dd>a utility-belt library for JavaScript that provides a lot of the functional programming support that you would expect in Prototype.js (or Ruby), but without extending any of the built-in JavaScript objects.</dd>
          	<dt><a href="http://documentcloud.github.com/backbone/">BackboneJS</a></dt>
          	<dd>supplies structure to JavaScript-heavy applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing application over a RESTful JSON interface.</dd>
          	<dt><a href="http://www.handlebarsjs.com/">HandlebarsJS</a></dt>
          	<dd>provides the power necessary to let you build semantic templates effectively with no frustration.</dd>
          	<dt><a href="http://requirejs.org/">RequireJS</a></dt>
          	<dd>a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</dd>
          	<dt><a href="https://github.com/jrburke/r.js">r.js</a></dt>
          	<dd>Runs RequireJS in Node and Rhino, and used to run the RequireJS optimizer </dd>
          	<dt><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></dt>
          	<dd>a toolkit from Twitter designed to kickstart development of webapps and sites.
It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</dd>
          </dl>
       </div>
        <div class="span3">
          <h3>Collaborators</h3>
			<dl>
				<dt>Meshach Jackson</dt>
				<dd><a href="http://linkedin.com/in/meshachjackson">LinkedIn</a>, <a href="https://github.com/meshachjackson">GitHub</a></dd>
				<dt>Sam Bernard</dt>
				<dd><a href="http://www.linkedin.com/in/sambenard">LinkedIn</a>, <a href="https://github.com/shihab-alain">GitHub</a></dd>
			</dl>
        </div>
      </div>