	<div class="hero-unit">
		<h2>Contact Jolly Science LLC</h2>
		<p>Jolly Science LLC is an innovation lab focusing on solving real problems for real people, every day. We love music and sports, so a lot of our work is focused on that. We'd love to hear from you!</p>
	</div>
	<div class="row">
		<div class="span6">
			<h3>History</h3>
			<p></p>
		</div>
		<div class="span4">
			<h3>Profiles</h3>
			<ul>
				<li>Facebook</li>
				<li>GitHub</li>
				<li>Twitter</li>
				<li>LinkedIn</li>
			</ul>
		</div>
		<div class="span4">
			<h3>Team</h3>
			<dl>
				<dt>Meshach Jackson</dt>
				<dt>Anthony Paige</dt>
				<dt>Sam Bernard</dt>
			</dl>
		</div>
	</div>