      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Backstrapp <small>A faster way to write better apps.</small></h1>
        <p>Backstrapp is boilerplate for app development that is easy-to-use, powerful, and well-documented. We've compiled our favorite tools into one collection of files to act as a boilerplate for future web apps.</p>
        <p><a class="btn primary large" href="https://github.com/meshachjackson/backstrapp">Git the Code!</a></p>
      </div>

      <!-- Example row of columns -->
	<div class="row">
        <div class="span6">
          <h2>Features</h2>
          <p></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Dependencies</h2>
          <ul>
          	<li>jQuery</li>
          	<li>Underscore</li>
          	<li>Backbone</li>
          	<li>Handlebars</li>
          	<li>Require</li>
          	<li></li>
          	<li></li>
          	<li></li>
          </ul>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Collaborators</h2>
          <p></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>