      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Backstrapp <small>A faster way to write better apps.</small></h1>
        <p>Backstrapp is boilerplate for app development that is easy-to-use, powerful, and well-documented. We've compiled our favorite tools into one collection of files to act as a boilerplate for future web apps.</p>
        <p><a class="btn primary large" href="https://github.com/meshachjackson/backstrapp">Git the Code!</a></p>
      </div>

      <!-- Example row of columns -->
	<div class="row">
        <div class="span6">
          <h2>Inspiration</h2>
          <p>This is an attempt to build a bootstrap for Backbonejs, requirejs, AMD, and r.js, leveraging the architecture provided by Thomas Davis at backbonetutorials.com</p>
          <dl>
          	<dt></dt>
          	<dd></dd>
          </dl>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Dependencies</h2>
          <dl>
          	<dt><a href="http://www.jquery.com">jQuery</a></dt>
          	<dd></dd>
          	<dt><a href="http://documentcloud.github.com/underscore/">UnderscoreJS</a></dt>
          	<dd></dd>
          	<dt><a href="http://documentcloud.github.com/backbone/">BackboneJS</a></dt>
          	<dd></dd>
          	<dt><a href="http://www.handlebarsjs.com/">HandlebarsJS</a></dt>
          	<dd></dd>
          	<dt><a href="http://requirejs.org/">RequireJS</a></dt>
          	<dd></dd>
          	<dt><a href="https://github.com/jrburke/r.js">r.js</a></dt>
          	<dd></dd>
          	<dt><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></dt>
          	<dd></dd>
          </dl>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Collaborators</h2>
          <p></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>