      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Backstrapp <small>A faster way to write better apps.</small></h1>
        <p>Backstrapp is boilerplate for app development that is easy-to-use, powerful, and well-documented. We've compiled our favorite tools into one collection of files to act as a boilerplate for future web apps.</p>
        <p><a class="btn primary large" href="https://github.com/jollyscience/backstrapp">Download Now!</a></p>
      </div>

      <!-- Example row of columns -->
