		<div class="main"><img src="{{headerImage}}" width="320" height="190" /></div>
        <div id="copy">
	        <div id="originTitle" class="bluebg">
	            <img src="img/icons/mortgage_header_icon.png" width="36" height="55">	
				<h2 class="category">{{this.title}}</h2>
	        </div>	        
	        <p class="active">{{currentPage}}</p>
	        <p class="next">NEXT: <a href="#!/{{this.next.slug}}/{{this.origin}}">{{this.next.title}}</a></p>
			<ul id="subHead" class="sub-sections">
				{{#items}}
					<li><a href="#!/{{this.slug}}/{{../origin}}">{{this.title}}</a></li>
				{{/items}}
			</ul>
		</div>
        
        <div class="clear"></div>
