		<div class="main"><img src="{{headerImage}}" width="320" height="190" /></div>
        <div id="copy">
	        <div id="originTitle" class="bluebg">
	            <img src="img/icons/mortgage_header_icon.png" width="36" height="55">	
				<h2 class="category">{{this.title}}</h2>
	        </div>	        
	        <p class="active">{{currentPage}}</p>
	        <p class="prev"><a href="#!/{{this.prev.slug}}/{{this.origin}}" alt="{{this.prev.title}}">PREV</a></p>
	        <p class="next"><a href="#!/{{this.next.slug}}/{{this.origin}}" alt="{{this.next.title}}">NEXT</a></p>
		</div>
        <div class="clear"></div>