          <h2>JavaScript</h2>
          <dl>
          	<dt>jQuery</dt>
          	<dd>A fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development.</dd>
          	<dt>UnderscoreJS</dt>
          	<dd>A utility-belt library for JavaScript that provides a lot of the functional programming support that you would expect in Prototype.js (or Ruby), but without extending any of the built-in JavaScript objects.</dd>
          	<dt>BackboneJS</dt>
          	<dd>Supplies structure to JavaScript-heavy applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing application over a RESTful JSON interface.</dd>
          	<dt>Handlebars</dt>
          	<dd>Provides the power necessary to let you build semantic templates effectively with no frustration.</dd>
          	<dt>RequireJS</dt>
          	<dd>A JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</dd>
          </dl>
          <p><a class="btn" href="#">View details</a></p>
