    <div class="hero-unit">
          <h2>About Backstrapp <small>How it all came to be</small></h2>
          <p>Backstrapp was developed with apps in mind. Jolly Science has built and deployed 2 sites using this framework, and are currently developing several more. The framework has served as an incredible boost to productivity, collaboration, and capability. We think you'll like it too!</p>
	</div>
	<div class="row">
		<div class="span10">
			<h2>Installation and Configuration</h2>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="span4">
			<h3>Features</h3>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>