			<div class="content_1col">
                <a class="expandableLink" id="s01">General Mortgage Questions</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s01_q01" name="s01_q01">I'm having a tough time with my mortgage payments. At what point should I call my mortgage company?</a>
                        <p>
                        	You should call your mortgage company (also known as your mortgage servicer) as soon as possible. Your mortgage company wants you to be able to stay in your home and find the best possible outcome for your situation. When you call, it's important to give as much detail about your unique circumstances as you can. Taking action could make the difference in being able to stay in your home.
                        </p>
                    </li> 
                    <li>
                    	<a id="s01_q02" name="s01_q02">Is my mortgage lender the same as my servicer?</a>
                        <p>
                        	Not always. Your mortgage servicer is the company who provides you with customer service and collects your payments. Your lender is the company that either gave you your mortgage or purchased your mortgage from another financial institution. In many cases, a homeowner's mortgage servicer and mortgage lender are the same company. If you need to contact your mortgage servicer, you can find their phone number on your monthly mortgage statement or in your coupon book.
                        </p>
                    </li> 
                    <li>
                    	<a id="s01_q03" name="s01_q03">Will my mortgage servicer really help me if I can't pay my mortgage?</a>
                        <p>
                        	Your mortgage company wants you to be able to stay in your home and find the best possible outcome for your situation. If you've already missed one or more mortgage payments and haven't spoken to your servicer, call them right away to ask what options may be available.
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s01_q04" name="s01_q04">What can I do to get my mortgage payments up to date?</a>
                        <p>
                        	Your first step is to contact your mortgage company and speak with someone who can discuss which options are best for your specific circumstances. 
						</p>
                        <p>
                            Also, think about other resources that may help you repay your mortgage. Can you reduce your other expenses? Can you earn additional income with another job? Or borrow money from a family member or other sources that can be applied to your mortgage loan?
                        </p>
                        <p>    
                            You may also consider consulting with a nonprofit homeownership counseling organization or a reputable credit-counseling agency to help you organize your finances and establish a workable repayment plan. You can find a nearby HUD-approved counselor <a href="http://www.hud.gov/offices/hsg/sfh/hcc/hcs.cfm" class="speedBump_link">here</a>.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q05" name="s01_q05">My mortgage payments are up to date right now, but I'm worried I'll miss a payment soon. What should I do?</a>
                        <p>
                        	It's really important to be proactive. Contact your mortgage company as soon as you can, even if you haven't missed a payment but think you might soon.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q06" name="s01_q06">If I'm currently behind on my mortgage payments, what options do I have?</a> 
                        <p>
                        	The options that may be available will depend on your specific financial circumstances. The first thing you should do is call your mortgage company and describe your unique situation. There are options that may help you get back on track and keep your home, as well as options that will help you exit gracefully if you're ready move to a more affordable housing situation.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q07" name="s01_q07">If I can't make my mortgage payments anymore, should I just walk away from my property?</a>
                        <p>
                        	If you abandon your property, your credit rating will suffer and you won't be eligible for some types of assistance. Contact your mortgage company, explain your circumstances and see how they can help your situation.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q08" name="s01_q08">What's considered a "temporary hardship"?</a>
                        <p>
                        	Examples of a temporary hardship include:
                            <ul>
                            	<li>Unexpected car expenses.</li>
								<li>A change in your job or career.</li>
								<li>Medical expenses that you needed to pay out-of-pocket or will be reimbursed for in the near future.</li>
								<li>Damage to property that will soon be paid for through insurance.</li>
                            </ul>
                        </p>
                        <p>
                        	Your mortgage servicer can tell you if your circumstances could be considered a temporary hardship.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q09" name="s01_q09">How do I know if Fannie Mae or Freddie Mac owns my mortgage?</a>
                        <p>
                        	Both Fannie Mae and Freddie Mac have tools that will tell you if they own your mortgage, which may qualify you for different types of assistance.
                            <ul>
                            	<li><a href="http://www.fanniemae.com/loanlookup/" class="speedBump_link">See if Fannie Mae owns your mortgage</a></li>
								<li><a href="https://www.freddiemac.com/corporate/" class="speedBump_link">See if Freddie Mac owns your mortgage</a></li>
                            </ul> 
                        </p>
                        <p>
                        	You can also call your mortgage company and ask who owns your mortgage.
                        </p>
                    </li> 
                     <li>
                    	<a id="s01_q10" name="s01_q10">How do I know if I have an FHA loan?</a>
                        <p>
                        	Check your HUD-1 settlement statement, which you should have received when you purchased your home. Look for the first box in section B, labeled "FHA." If this box is checked, your mortgage is an FHA loan.
                        </p>
                    </li> 
                </ul>
                <hr class="altRule" />
                <a class="expandableLink" id="s02">Refinancing</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s02_q01" name="s02_q01">What are the benefits of refinancing?</a>
                        <p>
                        	Refinancing, whether it's through a mortgage company or the government's Home Affordable Refinance Program (HARP), can make your monthly payments more affordable. Here are some benefits of refinancing:
                            <ul>
                                <li>If your current interest rate is a lot higher than today's market rate, your payments could go down immediately.</li>
                                <li>If you're paying interest only and have a low introductory rate that will increase in the future, refinancing to a fixed rate could save you money by reducing the amount of interest you pay over the life of your loan.</li>
                                <li>If your current loan is an Adjustable Rate Mortgage (ARM), refinancing to a fixed-rate mortgage will prevent your mortgage payment from changing over time, which could give you a better chance of affording your mortgage in the long run.</li>
                            </ul>
                        </p>
                    </li> 
                    <li>
                    	<a id="s02_q02" name="s02_q02">Will I qualify for traditional refinancing?</a>
                        <p>
                        	To refinance through a mortgage company, your mortgage payments need to be up to date and you need to have at least 10% equity in your home. Check with your mortgage servicer to see if you qualify for a traditional refinance.
                        </p>
                    </li> 
                    <li>
                    	<a id="s02_q03" name="s02_q03">How do I apply for traditional refinancing?</a>
                        <p>
                        	The traditional refinance process is similar to the mortgage process. You'll go through an application, approval and closing process. Your servicer will guide you through the process and help you choose the right refinancing option for your situation.
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s02_q04" name="s02_q04">What if I don't qualify for a traditional refinance through a mortgage company?</a>
                        <p>
                        	If you're up to date on your payments but don't have enough equity in your home for a traditional refinance, you may be able to refinance under the <a href="#!/home-affordable-refinance-program-harp">Home Affordable Refinance Program (HARP)</a>. This government program gives homeowners an opportunity to refinance under new terms even if their home value has dropped and their mortgages are under water.
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q05" name="s02_q05">If I'm behind on my mortgage payments, can I qualify for a refinance under the Home Affordable Refinance Program (HARP)?</a>
                        <p>
                        	No. Currently, homeowners who are past due or have been more than 30 days overdue during the past 12 months generally will not be eligible for HARP. However, you may qualify for a modification under the <a href="#!/home-affordable-modification-program-hamp">Home Affordable Modification Program (HAMP)</a>. Call your mortgage company to see if HAMP is an option for you.
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q06" name="s02_q06">Is it possible to refinance my home under HARP if I owe more than my property is worth?</a>
                        <p>
                        	Yes. Contact your mortgage company to ask about refinancing under HARP.
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q07" name="s02_q07">Can I take cash out of my HARP refinance to pay off other bills?</a>
                        <p>
                        	No. The Home Affordable Refinance Program does not return cash to the borrower for the purpose of paying other debts.
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q08" name="s02_q08">Can a refinance under HARP reduce the amount that I owe on my mortgage?</a>
                        <p>
                        	No. Refinancing won't lower the amount you owe (the principal) on your mortgage. HARP is meant to help homeowners get into more affordable or more stable loans. 
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q09" name="s02_q09">How do I apply for a refinance under HARP?</a>
                        <p>
                        	The first step is to ask your mortgage company or any lender approved to work with Fannie Mae or Freddie Mac for a Home Affordable Refinance application. To speed up the application process, it helps to have the following information ready when you call:
                            <ul>
                                <li>Your mortgage statement and other loan information such as payments and balances of second mortgages, automobiles or student loans.</li>
                                <li>Copies of your two most recent pay stubs showing your year-to-date earnings.</li>
                                <li>If you're self-employed or an independent contractor, your most recent Quarterly or Year-to-Date Profit/Loss statement.</li>
                                <li>Your most recent personal checking, savings, money market, mutual funds, stock and bond statements.</li>
                                <li>Recent tax returns.</li>
                            </ul>
                        </p>
                    </li> 
                     <li>
                    	<a id="s02_q10" name="s02_q10">How does an FHA Short Refinance work?</a>
                        <p>
                        	An FHA Short Refinance is an option if your home is worth less than what you owe on your mortgage. If you qualify for an FHA Short Refinance, your servicer will reduce your loan balance so your new mortgage is no more than 97.75% of your home's current market value.
                        </p>
                    </li>
                    <li>
                    	<a id="s02_q11" name="s02_q11">Is an FHA Short Refinance right for me?</a>
                        <p>
                        	Generally speaking, an FHA Short Refinance is for homeowners who are up to date on their mortgage payments and owe more than their homes are worth. You'd be refinancing into a mortgage that is insured by the Federal Housing Administration (FHA), so you'll need to meet their standard requirements. This includes a minimum credit score of 500 and proof that you can afford your current mortgage payments. You should contact your mortgage company to discuss options for your unique situation.
                        </p>
                    </li> 
                </ul>
                <hr class="altRule" />
                <a class="expandableLink" id="s03">Loan Modifications</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s03_q01" name="s03_q01">What is a loan modification?</a>
                        <p>
                        	A loan modification will permanently change the terms of your loan, usually to make your mortgage more affordable for you. Modifications can be done <a href="#!/mortgage-financing-traditional-loan-modification">through your mortgage company</a> or through the government's <a href="#!/home-affordable-modification-program-hamp">Home Affordable Modification Program (HAMP)</a>.
                        </p>
                    </li> 
                    <li>
                    	<a id="s03_q02" name="s03_q02">Is a loan modification right for me?</a>
                        <p>
                        	Sometimes, if your income or financial circumstances change long term, you may not be able to make your mortgage payments. While you may not qualify to refinance your mortgage, you might be able to get a mortgage modification. To find out if you qualify for a loan modification or the Home Affordable Modification Program (HAMP), contact your mortgage company. 
                        </p>
                    </li> 
                    <li>
                    	<a id="s03_q03" name="s03_q03">What is HAMP? How does HAMP work?</a>
                        <p>
                        	HAMP is the Home Affordable Modification Program, which was created by the federal government. The objective of HAMP is to lower your mortgage payment to 31% of your monthly gross (pre-tax) income. To do this, your servicer may lower your interest rate, extend the term of your loan, or defer the principal on your mortgage so you can repay it at a later date. Your servicer might also choose to forgive part of the principal, although this isn't a requirement of HAMP. 
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s03_q04" name="s03_q04">Is my servicer participating in HAMP?</a>
                        <p>
                        	You can see an updated list of participants on the government's <a href="http://www.MakingHomeAffordable.gov/get-assistance/contact-mortgage/" class="speedBump_link">Making Home Affordable Website</a>. 
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q05" name="s03_q05">I owe more than my house is worth. Will a modification under HAMP reduce what I owe on my mortgage?</a>
                        <p>
                        	Mortgage companies may, but are not required to, offer principal reductions through HAMP. The main objective of HAMP is to help homeowners avoid foreclosure by making their mortgage payments more affordable. Before giving you a principal reduction, your mortgage company will probably try to help you by extending your term or reducing your interest rate. Principal reductions are typically used as a last resort.
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q06" name="s03_q06">Do I have to be behind on my mortgage payments to be eligible for a modification under HAMP?</a>
                        <p>
                        	No. HAMP is also for homeowners who are struggling to keep their mortgage payments up to date and have good reason to think they'll fall behind on their mortgage soon. This is called "imminent default." Reasons why homeowners may face imminent default include:
                            <ul>
                                <li>Unemployment or some other significant reduction in income.</li>
                                <li>Another financial hardship that will make the mortgage unaffordable.</li>
                                <li>A homeowner has had (or will have) a significant increase in the mortgage payment.</li>
                            </ul>
</p>
                        <p>
                            If you're worried about making your mortgage payments, the best thing to do is contact your mortgage company before your situation gets any worse.
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q07" name="s03_q07">How do I apply for a modification under HAMP?</a>
                        <p>
                        	The first step is to see if you meet the <a href="#!/home-affordable-modification-program-hamp">general HAMP eligibility criteria</a>. If you do, contact your mortgage company and ask to be considered for a modification under HAMP. You can get a head start on the application process by gathering the following information:
                            <ul>
                                <li>Your mortgage statement and other loan information such as payments and balances of second mortgages, automobiles or student loans.</li>
                                <li>Copies of your two most recent pay stubs showing your year-to-date earnings.</li>
                                <li>If you're self-employed or an independent contractor, your most recent Quarterly or Year-to-Date Profit/Loss statement.</li>
                                <li>Your most recent personal checking, savings, money market, mutual funds, stock and bond statements.</li>
                                <li>Recent tax returns.</li>
                            </ul>
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q08" name="s03_q08">Can an FHA loan be modified under HAMP?</a>
                        <p>
                        	If your mortgage is insured by the FHA (Federal Housing Administration), you may qualify for an option called the FHA Home Affordable Modification (FHA-HAMP). You can learn more about FHA-HAMP and its eligibility requirements <a href="http://www.makinghomeaffordable.gov/programs/lower-payments/Pages/fha-hamp.aspx" class="speedBump_link">here</a>.
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q09" name="s03_q09">I have a VA home loan. Can it be modified under HAMP?</a>
                        <p>
                        	If your first lien mortgage is guaranteed or insured by the Department of Veterans Affairs (VA), you may be eligible for a modification through them. For more information, call the Veterans Affairs Regional Loan Center at (877) 827-3702 or visit <a href="http://www.homeloans.va.gov" class="speedBump_link">HomeLoans.va.gov</a>.
                        </p>
                    </li> 
                     <li>
                    	<a id="s03_q10" name="s03_q10">If I'm unemployed, can I get a mortgage modification?</a>
                        <p>
                        	There's a specific program under HAMP for unemployed borrowers, called the Home Affordable Unemployment Program (also known as UP). It's designed to provide temporary relief while the homeowner finds a new job. Here are some general qualifications for this program:
                            <ul>
                            	<li>If you're in the middle of a HAMP trial period and just lost your job, you can ask to be considered for the Home Affordable Unemployment Program as long as you started the trial period before missing three full consecutive mortgage payments.</li>
                            	<li>If you're unemployed and were previously ineligible for a HAMP modification, you may be eligible for the Home Affordable Unemployment Program.</li>
                            	<li>If you are currently in a permanent HAMP modification and just lost your job, you won't qualify for the Home Affordable Unemployment Program. However, you may be eligible for other programs that can help you avoid foreclosure, including Home Affordable Foreclosure Alternatives (HAFA).</li>
                            </ul>
                        </p>
                        <p>
                            Contact your mortgage company before you make any assumptions about what kind of assistance you qualify for. Tell them you're unemployed and see what they can do to help you.
                        </p>
                    </li> 
                    <li>
                    	<a id="s03_q11" name="s03_q11">Are there any options that will let me modify my second mortgage or my home equity loan?</a>
                        <p>
                        	Yes. The federal government created the Second Lien Modification Program (2MP), which works with the HAMP. Together, HAMP and 2MP can help give homeowners some breathing room by lowering payments on both their first and second mortgages.
                        </p>
                    </li> 
                    <li>
                    	<a id="s03_q12" name="s03_q12">How can I qualify for 2MP?</a>
                        <p>
                        	If your first lien is modified under HAMP and the servicer of your second lien on the same property participates in 2MP, that servicer must offer to modify your second lien. In fact, they'll automatically evaluate you for a second lien modification. If your second lien is serviced by a different company, contact them to find out if you can qualify for 2MP.
                        </p>
                    </li> 
                </ul>
                <hr class="altRule" />
                <a class="expandableLink" id="s04">Payment Plans</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s04_q01" name="s04_q01">What is deferment?</a>
                        <p>
                        	With deferment (also called forbearance), your mortgage company agrees to temporarily  reduce your mortgage payments for a set period of time. This period is usually between 90 and 180 days. While the total amount you end up paying will be the same or more, this solution can help you buy some time while you're experiencing a temporary hardship.
                        </p>
                    </li> 
                    <li>
                    	<a id="s04_q02" name="s04_q02">Does deferment make sense for my situation?</a>
                        <p>
                        	You may want to consider deferment if:
                            <ul>
                            	<li>You're dealing with a short-term financial hardship and need some relief from the burden of mortgage payments.</li>
                            	<li>You're several months behind on your mortgage payments.</li>
                            	<li>You don't qualify for refinancing or you'd rather not refinance your home.</li>
                            	<li>You want to stay in your home, avoid foreclosure and protect your credit score.</li>
                            </ul>
                        </p>
                    </li> 
                    <li>
                    	<a id="s04_q03" name="s04_q03">What if I still can't afford my mortgage payments after the forbearance period is over?</a>
                        <p>
                        	If the forbearance period comes to an end and you're still having a tough time paying your mortgage, you may be able to get a <a href="#!/mortgage-financing-traditional-loan-modification">loan modification</a>. A loan modification would permanently change the terms of your mortgage so it's more affordable for you.
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s04_q04" name="s04_q04">How do I apply for deferment?</a>
                        <p>
                        	Contact your mortgage company and tell them you're interested in a deferment plan.
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q05" name="s04_q05">What is a repayment plan?</a>
                        <p>
                        	A repayment plan allows you to catch up on overdue mortgage payments by spreading them out over a period of time, usually 12 months at the most. These payments are added on to your regular monthly mortgage payment.
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q06" name="s04_q06">Is a repayment plan right for my situation?</a>
                        <p>
                        	You may want to consider a repayment plan if:
                            <ul>
                            	<li>You're one or even several months behind on your mortgage payments.</li>
                            	<li>You can pay your mortgage now, but you're having a hard time catching up on payments you missed in the past.</li>
                            	<li>You're dealing with a short-term financial hardship.</li>
                            	<li>You don't qualify for refinancing or you'd rather not refinance.</li>
                            	<li>You want to stay in your home, avoid foreclosure and protect your credit score.</li>
                            </ul>
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q07" name="s04_q07">What is an extension?</a>
                        <p>
                        	An extension is when your lender agrees to move missed mortgage payments to the end of your loan. This means the term of your mortgage will be longer, but your account will be brought up to date. If you faced a temporary hardship that has been resolved, you may be eligible for an extension. Contact your mortgage company to find out for sure.
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q08" name="s04_q08">What is a Principal Reduction Alternative (PRA)?</a>
                        <p>
                        	PRA is a government option that can lower the amount you owe on your mortgage, i.e., the principal. It was created to help homeowners whose mortgages are now under water because they owe significantly more than their homes are worth.
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q09" name="s04_q09">How do I know if my mortgage company participates in the PRA program?</a>
                        <p>
                        	More than 100 servicers participate in PRA, the largest including CitiMortgage, Bank of America, JPMorgan Chase and Wells Fargo. For a complete list, visit the <a href="http://www.makinghomeaffordable.gov/programs/lower-payments/Pages/pra.aspx" class="speedBump_link">Making Home Affordable Website</a>.
                        </p>
                    </li> 
                     <li>
                    	<a id="s04_q10" name="s04_q10">How does a partial claim work?</a>
                        <p>
                        	A partial claim is an interest-free second mortgage that is given to pay up to 12 past-due mortgage payments. A partial claim will bring your account up to date immediately and isn't paid off until the original mortgage is paid off. Partial claims are only available on mortgages that are insured by the FHA.
                        </p>
                    </li> 
                    <li>
                    	<a id="s04_q11" name="s04_q11">I'm one or two payments behind on my mortgage. Do I qualify for a partial claim?</a>
                        <p>
                        	No. You must be at least four payments behind, but no more than 12 months behind by the time the partial claim loan is granted.
                        </p>
                    </li> 
                    <li>
                    	<a id="s04_q12" name="s04_q12">Is partial claim an option for all types of mortgages?</a>
                        <p>
                        	No. Partial claim is only for first lien home loans that are guaranteed by the Federal Housing Administration (FHA).
                        </p>
                    </li> 
                    <li>
                    	<a id="s04_q13" name="s04_q13">How do I request a partial claim?</a>
                        <p>
                        	Partial claims are only given through your mortgage company. Contact them, explain your situation and let them know you're interested in a partial claim.
                        </p>
                    </li> 
                </ul>
                <hr class="altRule" />
                <a class="expandableLink" id="s05">Mortgage Help for the Unemployed</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s05_q01" name="s05_q01">I'm unemployed. Is there an option that will help me with my mortgage payments?</a>
                        <p>
                        	Yes. The government's Home Affordable Unemployment Program (sometimes called "UP") can reduce your mortgage payments for three months (or possibly more) while you're looking for work. In addition to the Home Affordable Unemployment Program, some mortgage servicers offer unique programs for unemployed homeowners, such as CitiMortgage's Homeowner Assist Unemployment Program. Call your mortgage servicer to see what kind of assistance they offer for unemployed homeowners.
                        </p>
                    </li> 
                    <li>
                    	<a id="s05_q02" name="s05_q02">How do I apply for the Home Affordable Unemployment Program?</a>
                        <p>
                        	To apply for the Home Affordable Unemployment Program, contact your servicer as soon as you can and tell them you're interested in a Home Affordable Unemployment Program forbearance plan.
                        </p>
                    </li> 
                    <li>
                    	<a id="s05_q03" name="s05_q03">Does my second mortgage qualify for the Home Affordable Unemployment Program?</a>
                        <p>
                        	No. The Home Affordable Unemployment Program is for first lien mortgages only.
                        </p>
                    </li>
               </ul>
                <div class="expandableContent"></div>
               <hr class="altRule" />
                <a class="expandableLink" id="s06">Alternatives to Foreclosure</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s06_q01" name="s06_q01">What is a short sale?</a>
                        <p>
                        	A short sale allows you to sell your home for less than what you owe on your mortgage. A short sale can be conducted through your mortgage company, or you may qualify for a short sale through the government's Home Affordable Foreclosure Alternatives (HAFA) program.
                        </p>
                    </li> 
                    <li>
                    	<a id="s06_q02" name="s06_q02">Is a short sale right for my situation?</a>
                        <p>
                        	A short sale may work for you if:
                            <ul>
                            	<li>You're open to the idea of selling your home so you can move on and make a fresh start.</li>
                            	<li>Your mortgage is "under water" or "upside down," meaning you owe more than your home is worth.</li>
                            	<li>You're experiencing a long-term hardship.</li>
                            	<li>You're behind on your mortgage payments.</li>
                            	<li>You haven't qualified for a mortgage modification.</li>
                            </ul>
                        </p>
                    </li> 
                    <li>
                    	<a id="s06_q03" name="s06_q03">How does a short sale affect my credit score?</a>
                        <p>
                        	As you go through the short sale process, your monthly mortgage payment status will continue to be reported to the credit bureaus. So if you're behind on payments while you're completing a short sale, those late payments will be reported and will affect your credit delinquency status. This is why making payments as you go through a short sale may minimize the impact on your credit score. Once the short sale has been completed, the final payment status of your loan at the time of short sale will be reported along with a comment that says "account paid in full for less than the full balance" and a $0.00 remaining principal balance. For more detailed information on how a short sale impacts your credit score, contact the credit bureaus.
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s06_q04" name="s06_q04">How does a deed in lieu of foreclosure work?</a>
                        <p>
                        	With a deed in lieu of foreclosure, you voluntarily transfer ownership of your home (the deed) to the company that owns your mortgage. In return, your mortgage lender frees you from your mortgage and payment obligations. You can complete a deed in lieu through your mortgage company or through the Home Affordable Foreclosure Alternatives (HAFA) program.
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q05" name="s06_q05">Does a deed in lieu make sense for my situation?</a>
                        <p>
                        	A deed in lieu is a good alternative to foreclosure if:
                            <ul>
                            	<li>You're open to the idea of selling your home so you can move on and make a fresh start.</li>
                            	<li>Your mortgage is "under water" or "upside down," meaning you owe more than your home is worth.</li>
                            	<li>You're experiencing a long-term hardship.</li>
                            	<li>You're behind on your mortgage payments.</li>
                            	<li>You haven't qualified for a mortgage modification.</li>
                            	<li>You haven't been able to refinance, modify your mortgage or complete a short sale.</li>
                            </ul>
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q06" name="s06_q06">Will a deed in lieu impact my credit?</a>
                        <p>
                        	Yes. A deed in lieu of foreclosure can damage your credit and will be reflected on your credit report for seven years. If your credit report shows a foreclosure or deed in lieu, you may have trouble getting new loans for at least a few years. You may, however, include a written statement on your credit report that explains any hardships that led to the deed in lieu.
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q07" name="s06_q07">How can I be considered for a HAFA short sale or deed in lieu?</a>
                        <p>
                        	You may qualify for a HAFA short sale or deed in lieu if you applied but haven't qualified for a loan modification through your servicer or the Home Affordable Modification Program (HAMP).
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q08" name="s06_q08">Is it true that I can receive a cash incentive for doing a HAFA short sale or HAFA deed in lieu?</a>
                        <p>
                        	Yes, you may qualify to receive $3,000 or even more to help you with relocation costs such as moving expenses. 
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q09" name="s06_q09">How do I start the short sale or deed in lieu process?</a>
                        <p>
                        	Call your mortgage company to discuss whether a short sale or deed in lieu can work given your situation. You'll need this information when you call.
                            <ul>
                            	<li>Your mortgage statement and other loan information such as payments and balances of second mortgages, automobiles or student loans.</li>
                            	<li>Copies of your two most recent pay stubs showing your year-to-date earnings.</li>
                            	<li>If you're self-employed or an independent contractor, your most recent Quarterly or Year-to-Date Profit/Loss statement.</li>
                            	<li>Your most recent personal checking, savings, money market, mutual funds, stock and bond statements.</li>
                            	<li>Recent tax returns.
                            </ul>
                        </p>
                    </li> 
                     <li>
                    	<a id="s06_q10" name="s06_q10">Is bankruptcy an alternative to foreclosure?</a>
                        <p>
                        	Bankruptcy is a matter of personal choice and is something that should be discussed with an approved consumer credit counselor or bankruptcy attorney. If you're considering bankruptcy, make sure you call your mortgage company first to see if you qualify for any other options.
                        </p>
                    </li> 
                    <li>
                    	<a id="s06_q11" name="s06_q11">I'm facing foreclosure. What should I do?</a>
                        <p>
                        	You may have options, depending on where you are in the foreclosure process. You should call your mortgage company to discuss your specific circumstances. The sooner you call, the more options you might have. Don't wait until foreclosure is your only choice.
                        </p>
                    </li> 
                    <li>
                    	<a id="s06_q12" name="s06_q12">How long will a foreclosure stay on my credit report?</a>
                        <p>
                        	Foreclosures are very damaging to your credit rating and stay on a credit report for as long as seven to 10 years. It will be hard to get a mortgage for another home, student loans, credit cards and more. This is why it's so important to take action right away if you're behind on your mortgage payments. Call your mortgage company and tell them what you're going through. They want to help you avoid foreclosure.
                        </p>
                    </li> 
                </ul>
                <hr class="altRule" />
                <a class="expandableLink" id="s07">Scams</a>
                <ul class="ul-expandable">
                	<li>
                    	<a id="s07_q01" name="s07_q01">What's a loan modification scam?</a>
                        <p>
                        	Loan modification scams happen when dishonest people take advantage of homeowners trying to avoid foreclosure. These scam artists typically guarantee that they can help people save their homes, while they actually may make the situation worse by charging pricey upfront fees, redirecting mortgage payments or even taking the title to the home. 
                        </p>
                    </li> 
                    <li>
                    	<a id="s07_q02" name="s07_q02">I receive letters from people claiming they can help save my home. Is this a scam?</a>
                        <p>
                        	When a foreclosure proceeding is initiated, certain documents become public record and anyone can see the information that is filed with the court. Individuals who may not be acting in your best interests could access this information. This is why you may receive these letters. If you authorize a third-party company to work directly with your mortgage company to find an option for you, they will charge for their services.
                        </p>
                    </li> 
                    <li>
                    	<a id="s07_q03" name="s07_q03">How can I avoid scams and fraud?</a>
                        <p>
                        	Here are some tips on avoiding mortgage modification scams:
                            <ul>
                            	<li>Never make your mortgage payments to anyone other than your mortgage company without their approval.</li>
                            	<li>Beware of anyone or any organization that asks you to pay an upfront fee for counseling or a loan modification.</li>
                            	<li>You should never pay a fee for a modification through the government's Making Home Affordable Program.</li>
                            	<li>Watch out for companies that say they can "save" your home by transferring over the deed to your house. Don't sign over the deed to your home to any company or person unless you're working with your mortgage company directly.</li>
                            </ul>
                        </p>
                    </li>
               </ul>
               <ul class="ul-expandable expandableContent">
                     <li>
                    	<a id="s07_q04" name="s07_q04">What should I do if I think I've been scammed?</a>
                        <p>
                        	You should file a complaint through the <a href="http://www.preventloanscams.org/resources/for_homeowners?id=0003" class="speedBump_link">Loan Scam Prevention Network</a> as soon as possible. You should also call your state Attorney General's office and/or the HOPE NOW hotline at 1-888-995-HOPE (4673).
                        </p>
                    </li> 
                </ul>
				<div class="clear"></div>
			</div>